n8n/workflow/Email notification flow.json
{
  "name": "Email notification flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "email-notification",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -48,
        -272
      ],
      "id": "4f238886-90a4-4916-a9e9-5a7411bb13ee",
      "name": "Webhook",
      "webhookId": "7c126cb9-299d-4997-9385-bb5e0fbe53e3"
    },
    {
      "parameters": {
        "jsCode": "let to = [$json.email || \"demo@grancanaria-goblab.org\"];\n\nif ($json.resultados.ahorroAnual >= 10000) {\n  to.push(\"goblab@grancanaria.com\");\n}\nif ($json.resultados.ahorroAnual > 50000) {\n  to.push(\"alerta-directiva@grancanaria.com\");\n}\n\nreturn [{ json: { ...$json, destinatarios: to.join(\",\") } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -272
      ],
      "id": "f4808fb6-b8d9-4bcd-903c-7b564fac57aa",
      "name": "Define Recipients"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html-to-pdf.app/v1/generate",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={\n  \"html\": \"<html><body><h1>Análisis de Simplificación</h1><p><b>Procedimiento:</b> {{$json.procedimiento}}</p><p><b>Servicio:</b> {{$json.servicio}}</p><p><b>Usuario:</b> {{$json.usuario}}</p><p><b>Ahorro:</b> €{{$json.resultados.ahorroAnual}}</p><p><b>Clasificación:</b> {{$json.clasificacion}}</p></body></html>\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        368,
        -272
      ],
      "id": "ca246ecc-6e4f-4631-9585-500d0fbb8d47",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fromEmail": "obertomaria91@gmail.com",
        "toEmail": "={{$json.destinatarios}}",
        "subject": "=Análisis de Simplificación: {{$json.procedimiento}}",
        "html": "=<h2>Análisis completado</h2>\n<p>Su análisis de simplificación ha sido procesado.</p>\n<p><strong>Ahorro estimado:</strong> €{{$json.resultados.ahorroAnual}}</p>\n<p><strong>Clasificación:</strong> {{$json.clasificacion}}</p>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        576,
        -272
      ],
      "id": "a8c68ddc-ba02-4900-a5dd-791176587026",
      "name": "Send email1",
      "webhookId": "f8aabc91-fd31-452e-9614-3ec622370b39",
      "credentials": {
        "smtp": {
          "id": "6qIJese9LCgwxuF1",
          "name": "SMTP account 6"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Define Recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Recipients": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Send email1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "71f194d4-f64d-4546-af7a-18da97114cb1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c82b6d82c5e68698f04eb90aff26f6d518213142c432a723c8b2a1070d31f483"
  },
  "id": "kHompulJRBTE1moZ",
  "tags": []
}