n8n/workflow/email-notification.json

{
  "name": "Email Notification with Conditional Logic",
  "nodes": [
    {
      "name": "Generate PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [250, 200],
      "parameters": {
        "url": "https://api.html-to-pdf.app/v1/generate",
        "method": "POST",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParameters": {
          "html": "<html><body><h1>Análisis de Simplificación</h1><p>Procedimiento: {{$json.procedimiento}}</p><p>Ahorro: €{{$json.resultados.ahorroAnual}}</p></body></html>"
        }
      }
    },
    {
      "name": "Branch based on Impact",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.clasificacion}}",
              "operator": "in",
              "value2": "ALTO_IMPACTO"
            }
          ]
        }
      }
    },
    {
      "name": "High Impact Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 100],
      "parameters": {
        "fromEmail": "mariajoseatencio.mmi@gmail.com",
        "toEmail": "={{$json.email}}, gob-lab@goblab.org, directiva@goblab.org",
        "subject": "ALERTA: Alto Ahorro - {{$json.procedimiento}}",
        "emailFormat": "html",
        "message": "<h2>¡Impacto Económico Alto!</h2><p>El análisis para el procedimiento <b>{{$json.procedimiento}}</b> ha revelado un ahorro anual de <b>€{{$json.resultados.ahorroAnual}}</b>.</p>",
        "attachments": "={{[$binary.data]}}"
      }
    },
    {
      "name": "Medium Impact Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 250],
      "parameters": {
        "fromEmail": "mariajoseatencio.mmi@gmail.com",
        "toEmail": "={{$json.email}}, gob-lab@goblab.org",
        "subject": "Análisis Medio - {{$json.procedimiento}}",
        "emailFormat": "html",
        "message": "<h2>Análisis completado</h2><p>Su análisis de simplificación para <b>{{$json.procedimiento}}</b> ha sido procesado.</p><p><b>Ahorro estimado:</b> €{{$json.resultados.ahorroAnual}}</p>",
        "attachments": "={{[$binary.data]}}"
      }
    },
    {
      "name": "Low Impact Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [650, 400],
      "parameters": {
        "fromEmail": "mariajoseatencio.mmi@gmail.com",
        "toEmail": "={{$json.email}}",
        "subject": "Análisis completado - {{$json.procedimiento}}",
        "emailFormat": "html",
        "message": "<h2>Análisis completado</h2><p>Su análisis de simplificación para <b>{{$json.procedimiento}}</b> ha sido procesado.</p><p><b>Ahorro estimado:</b> €{{$json.resultados.ahorroAnual}}</p>",
        "attachments": "={{[$binary.data]}}"
      }
    }
  ],
  "connections": {
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Branch based on Impact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Branch based on Impact": {
      "main": [
        [
          {
            "node": "High Impact Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Medium Impact Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Low Impact Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}