n8n/workflow/pdf-generator.json
{
  "name": "pdf-generator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pdf-generator",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0f636b6f-e830-4339-8f92-429c49ce0b72",
      "name": "Webhook",
      "webhookId": "b007e5c6-faf0-40e2-be18-b47628d9b7e7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.html-to-pdf.app/v1/generate",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "={\n  \"html\": \"<html><body><h1>Análisis de Simplificación</h1><p><b>Procedimiento:</b> {{$json.procedimiento}}</p><p><b>Servicio:</b> {{$json.servicio}}</p><p><b>Usuario:</b> {{$json.usuario}}</p><p><b>Ahorro:</b> €{{$json.resultados.ahorroAnual}}</p><p><b>Clasificación:</b> {{$json.clasificacion}}</p></body></html>\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        208,
        0
      ],
      "id": "0844c370-b7e9-479b-86c3-ad4b8b5062c7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "analisis",
                "value": "analisis.pdf"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        416,
        0
      ],
      "id": "9b98538c-75ea-4635-9c7e-f090654abacc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b60d5ea-a7f4-4d25-87db-dcfdd53dd672",
  "meta": {
    "instanceId": "c82b6d82c5e68698f04eb90aff26f6d518213142c432a723c8b2a1070d31f483"
  },
  "id": "IF9mt5TFHhibaahG",
  "tags": []
}